<tr>
  <td class="text-over"><%= id %></td>
  <td class="text-over"><a href="#templates/<%= id %>"><%= name %></a></td>
  <td class="text-over"><%= owner %></td>
  <td class="text-over"><%= description %></td>
</tr>
